@import 'libs/variables';
@import 'libs/mixins';
@import 'libs/form';
@import 'slick.min.css';

.banner {
  height: 140px;

  @media (min-width: 768px) {
    height: 200px;
  }
  @media (min-width: 1680px) {
    height: 293px;
  }

  &__inner {
    @include container;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
  }

  &__title {
    text-transform: none;
    color: $color_white;
  }
}

.search {
  @include container;
  position: relative;
  margin-top: 16px;
  padding: 20px 20px 0;
  width: 100%;
  order: 4;
  @media (min-width: 1024px) {
    margin-top: 38px;
  }

  &__form {
    position: relative;
    width: 100%;
  }

  &__input {
    padding: 18px 35px 14px 14px;
    width: 100%;
    height: 45px;
    font-size: 16px;
    border: 1px solid $color_primary;
    @media (min-width: 1024px) {
      padding: 18px 35px 14px 20px;
    }
  }

  &__button {
    position: absolute;
    top: 12px;
    right: 12px;
    background: none;
    border: none;
    @media (min-width: 1024px) {
      right: 20px;
    }
  }

  &__subtitle {
    margin-top: 23px;
    @include font-primary($font-size-base, $color_black, 500, 18px);
    @media (min-width: 1024px) {
      @include font-primary($font-size-m, $color_black, 500, 23px);
    }
  }
}

.technic {
  padding-top: 20px;
  padding-bottom: 26px;
  border-bottom: 1px solid $color_silver;
  @media (min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__container {
    @include container;
  }

  &__inner {
    @include container;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 20px;
    @media (min-width: 480px) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }
    @media (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }
    @media (min-width: 1280px) {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
    }
  }

  &__item {
    margin: 0 auto;
    padding: 17px 5px 10px;
    width: 129px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color_white;
    box-shadow: 0 4px 15px rgba(128, 141, 156, 0.11);
    @media (min-width: 1024px) {
      padding: 26px 15px;
      width: 240px;
    }
    @media (min-width: 1600px) {
      padding: 26px 20px;
      width: 295px;
    }
  }

  &__item-link {
    margin-top: 10px;
    height: 65px;
    @media (min-width: 1024px) {
      height: 172px;
    }
    @media (min-width: 1600px) {
      height: 200px;
    }
  }

  &__item-image {
    height: 100%;
    object-fit: contain;
  }

  &__item-text {
    padding: 0 13px;
    text-align: center;
    word-break: break-all;
    @include font-primary($font-size-base-mob, $color_black, normal, 16px);
    @media (min-width: 1024px) {
      @include font-primary(20px, $color_black, normal, 23px);
    }
  }
}

.popular,
.recently,
.promotional {
  padding: 40px 0 40px;
  @media (min-width: 1400px) {
    padding: 40px 0;
  }

  &__inner {
    @include container;
    padding: 0;
  }

  &__heading {
    @include container;
    position: relative;
    width: 100%;
  }

  &__heading-title {
    @include font-primary( $font-size-m, $color_black, 500, 23px );
    @media (min-width: 1400px) {
      @include font-primary( $h3, $color_black, 500, 28px );
    }
  }

  &__carousel {
    padding: 27px 0 23px 10px;
    display: flex;

    &.active {
      display: block;
    }
    @media (min-width: 768px) {
      padding: 27px 0 23px;
    }
    @media (min-width: 1400px) {
      padding: 27px 0 25px;
    }
  }

  &__item {
    margin: 0 auto;
    padding: 10px;
    display: flex !important;
    justify-content: center;

    @media (min-width: 1280px) {
      &.active {
        justify-content: flex-end;
      }
    }
    @media (min-width: 1400px) {
      &.active {
        padding: 10px;
        justify-content: center;
      }
    }
  }

  &__item-inner {
    padding: 15px 10px;
    width: 203px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color_white;
    box-shadow: 0 4px 15px rgba(128, 141, 156, 0.11);
    @media (min-width: 1280px) {
      width: 270px;
    }
    @media (min-width: 1400px) {
      padding: 26px 15px;
      width: 295px;
    }
  }

  &__item-title {
    @include font-primary( $font-size-m, $color_secondary, 500 );
    @media (min-width: 1400px) {
      @include font-primary( $font-size-l, $color_secondary, 500 );
    }
  }

  &__item-link {
    margin-top: 15px;
    height: 118px;
    @media (min-width: 1400px) {
      height: 174px;
    }
  }

  &__item-image {
    height: 100%;
    object-fit: contain;
  }

  &__item-text {
    margin-top: 10px;
    text-align: center;
    @include font-primary($font-size-base-mob, $color_black, normal, 17px);
    @media (min-width: 1400px) {
      margin-top: 27px;
      @include font-primary(16px, $color_black, normal, 18px);
    }
  }

  &__item-price {
    margin-top: 10px;
    @include font-primary($font-size-m-mob, $color_black, 500, 21px);
    @media (min-width: 1400px) {
      margin-top: 20px;
      @include font-primary($font-size-s, $color_black, 500, 22px);
    }
  }
}

.promotional {
  background: $color_athensGray;
}
