<footer class="footer">
  <div class="footer__inner">
    <a href="javascript:void(0);" class="footer__logo">
      <img src="img/Logo-footer.png" alt="">
    </a>
    <p class="footer__text">
      © Все права защищены, 2021
    </p>
    <div class="footer__social-wraper">
      <a href="javascript:void(0);" class="footer__social-link" target="_blank">
        <img src="img/new_instagram.png" alt="">
      </a>
      <a href="" class="footer__social-link" target="_blank">
        <img src="img/new_facebook.png" alt="">
      </a>
      <a href="javascript:void(0);" class="footer__social-link" target="_blank">
        <img src="img/new_youtube.png" alt="">
      </a>
    </div>
  </div>
  <div class="footer__wraper">
    <nav class="footer__navigation">
      <div class="footer__block">
        <a href="technics.html" class="footer__subtitle">Техника</a>
        <ul class="footer__list">
          <li class="footer__item"><a href="technic-page.html" class="footer__item-link">Косилки дисковые</a></li>
          <li class="footer__item"><a href="technic-page.html" class="footer__item-link">Ворошилки</a></li>
          <li class="footer__item"><a href="technic-page.html" class="footer__item-link">Грабли роторные</a></li>
          <li class="footer__item"><a href="technic-page.html" class="footer__item-link">Пресс-подборщики</a></li>

          <li class="footer__item"><a href="technic-page.html" class="footer__item-link">Обмотчики рулонов</a></li>
          <li class="footer__item"><a href="technic-page.html" class="footer__item-link">Прицепы для тюков</a></li>
          <li class="footer__item"><a href="technic-page.html" class="footer__item-link">Комбикормовый мини-завод</a>
          </li>

          <li class="footer__item"><a href="technic-page.html" class="footer__item-link">Измельчители рулонов</a></li>
          <li class="footer__item"><a href="technic-page.html" class="footer__item-link">Миксера-кормораздатчики</a>
          </li>
          <li class="footer__item"><a href="technic-page.html" class="footer__item-link">Фронтальные погрузчики</a>
          </li>

          <li class="footer__item"><a href="technic-page.html" class="footer__item-link">Насадки</a></li>
          <li class="footer__item"><a href="technic-page.html" class="footer__item-link">Катки для трамбовки
              силоса</a></li>
          <li class="footer__item"><a href="technic-page.html" class="footer__item-link">Силосные вилы</a></li>

          <li class="footer__item"><a href="technic-page.html" class="footer__item-link">Дозатор-аппликатор для
              внесения
              консерванта</a></li>
          <li class="footer__item"><a href="technic-page.html" class="footer__item-link">Мульчирователь</a></li>
          <li class="footer__item"><a href="technic-page.html" class="footer__item-link">Гидравлическое плечо</a></li>
          <li class="footer__item"><a href="technic-page.html" class="footer__item-link">Щетка коммунальная</a></li>
          <li class="footer__item"><a href="technic-page.html" class="footer__item-link">Отвал для уборки снега</a>
          </li>
        </ul>
      </div>
    </nav>
    <nav class="footer__navigation">
      <div class="footer__block">
        <a href="javascript:void(0);" class="footer__subtitle">Услуги</a>
        <ul class="footer__list">
          <li class="footer__item"><a href="javascript:void(0);" class="footer__item-link">Плющение зерна</a></li>
          <li class="footer__item"><a href="javascript:void(0);" class="footer__item-link">Ремонт и восстановление
              кормосмесителей</a></li>
          <li class="footer__item"><a href="javascript:void(0);" class="footer__item-link">Сервисное обслуживание</a>
          </li>
        </ul>
      </div>
      <div class="footer__block">
        <a href="about.html" class="footer__subtitle">О компании</a>
        <ul class="footer__list">
          <li class="footer__item"><a href="reviews.html" class="footer__item-link">Отзывы</a></li>
          <li class="footer__item"><a href="news.html" class="footer__item-link">Новости</a></li>
          <li class="footer__item"><a href="question.html" class="footer__item-link">Вопросы и ответы</a></li>
        </ul>
      </div>
      <div class="footer__block">
        <a href="javascript:void(0);" class="footer__subtitle">Статьи</a>
        <a href="catalogs.html" class="footer__subtitle">Каталоги</a>
        <a href="contacts.html" class="footer__subtitle">Контакты</a>
        <a href="delivery.html" class="footer__subtitle">Оплата и доставка</a>
        <a href="technic-page.html" class="footer__subtitle">Запчасти для сельхозтехники</a>
      </div>
      <div class="footer__block">
        <a href="javascript:void(0);" class="footer__subtitle">Карта сайта</a>
      </div>
    </nav>
    <div class="footer__contacts">
      <div class="footer__block">
        <a href="mail-to:verhagro.com.ua@ukr.net" class="footer__contacts-link">verhagro.com.ua@ukr.net</a>
        <a href="tel:+71251254563" class="footer__contacts-link">+7 (125) 125 45 63</a>
        <a href="tel:+71251254563" class="footer__contacts-link">+7 (125) 125 45 63</a>
        <p class="footer__contacts-address">г. Москва, ул. Мира, 35</p>
      </div>
    </div>
  </div>
</footer>
<a href="#wrapper" id="ui-to-top" class="ui-to-top go-to"></a>