<footer class="footer">
  <div class="footer__inner">
    <a href="javascript:void(0);" class="footer__logo">
      <img src="img/Logo-footer.png" alt="">
    </a>
    <p class="footer__text">
      © Все права защищены, 2021
    </p>
    <div class="footer__social-wraper">
      <a href="javascript:void(0);" class="footer__social-link" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" class="footer__social-icon" width="16" height="16" viewBox="0 0 16 16"
          fill="none">
          <g clip-path="url(#clip0)">
            <path
              d="M8.00267 3.89209C5.734 3.89209 3.89734 5.73076 3.89734 7.99742C3.89734 10.2661 5.736 12.1028 8.00267 12.1028C10.2713 12.1028 12.108 10.2641 12.108 7.99742C12.108 5.72876 10.2693 3.89209 8.00267 3.89209ZM8.00267 10.6621C6.53 10.6621 5.33801 9.46942 5.33801 7.99742C5.33801 6.52542 6.53067 5.33276 8.00267 5.33276C9.47467 5.33276 10.6673 6.52542 10.6673 7.99742C10.668 9.46942 9.47534 10.6621 8.00267 10.6621Z"
              fill="white" />
            <path
              d="M11.2983 0.0517226C9.82627 -0.0169441 6.18027 -0.0136107 4.70694 0.0517226C3.41227 0.112389 2.27027 0.425056 1.3496 1.34572C-0.189065 2.88439 0.00760219 4.95773 0.00760219 7.99839C0.00760219 11.1104 -0.165731 13.1357 1.3496 14.6511C2.89427 16.1951 4.9976 15.9931 8.00227 15.9931C11.0849 15.9931 12.1489 15.9951 13.2389 15.5731C14.7209 14.9977 15.8396 13.6731 15.9489 11.2937C16.0183 9.82106 16.0143 6.17572 15.9489 4.70239C15.8169 1.89372 14.3096 0.190389 11.2983 0.0517226ZM13.6283 13.6331C12.6196 14.6417 11.2203 14.5517 7.98294 14.5517C4.6496 14.5517 3.31294 14.6011 2.3376 13.6231C1.21427 12.5051 1.4176 10.7097 1.4176 7.98773C1.4176 4.30439 1.0396 1.65172 4.73627 1.46239C5.5856 1.43239 5.8356 1.42239 7.9736 1.42239L8.0036 1.44239C11.5563 1.44239 14.3436 1.07039 14.5109 4.76639C14.5489 5.60972 14.5576 5.86306 14.5576 7.99773C14.5569 11.2924 14.6196 12.6371 13.6283 13.6331Z"
              fill="white" />
            <path
              d="M12.2706 4.68942C12.8005 4.68942 13.23 4.25991 13.23 3.73008C13.23 3.20026 12.8005 2.77075 12.2706 2.77075C11.7408 2.77075 11.3113 3.20026 11.3113 3.73008C11.3113 4.25991 11.7408 4.68942 12.2706 4.68942Z"
              fill="white" />
          </g>
          <defs>
            <clipPath id="clip0">
              <rect width="16" height="16" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </a>
      <a href="" class="footer__social-link" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" class="footer__social-icon" width="9" height="15" viewBox="0 0 9 15"
          fill="none">
          <path
            d="M6.96933 2.49063H8.30807V0.105625C8.07711 0.073125 7.28278 0 6.3577 0C4.42748 0 3.10524 1.24188 3.10524 3.52438V5.625H0.97522V8.29125H3.10524V15H5.71674V8.29188H7.7606L8.08505 5.62563H5.71613V3.78875C5.71674 3.01813 5.91959 2.49063 6.96933 2.49063Z"
            fill="white" />
        </svg>
      </a>
      <a href="javascript:void(0);" class="footer__social-link" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" class="footer__social-icon" width="16" height="12" viewBox="0 0 16 12"
          fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M14.2602 0.7489C14.9455 0.933469 15.4859 1.47375 15.6703 2.15917C16.0131 3.41112 15.9999 6.02073 15.9999 6.02073C15.9999 6.02073 15.9999 8.61703 15.6705 9.8691C15.4859 10.5544 14.9456 11.0948 14.2602 11.2793C13.0081 11.6088 7.99997 11.6088 7.99997 11.6088C7.99997 11.6088 3.00487 11.6088 1.73974 11.2662C1.05432 11.0816 0.514036 10.5412 0.329466 9.85592C0 8.61703 0 6.00754 0 6.00754C0 6.00754 0 3.41112 0.329466 2.15917C0.513914 1.47387 1.0675 0.920286 1.73962 0.735838C2.99169 0.40625 7.99984 0.40625 7.99984 0.40625C7.99984 0.40625 13.0081 0.40625 14.2602 0.7489ZM10.5699 6.00752L6.40526 8.4062V3.60884L10.5699 6.00752Z"
            fill="white" />
        </svg>
      </a>
    </div>
  </div>
  <div class="footer__wraper">
    <nav class="footer__navigation">
      <div class="footer__block">
        <a href="javascript:void(0);" class="footer__subtitle">Техника</a>
        <ul class="footer__list">
          <li class="footer__item"><a href="javascript:void(0);" class="footer__item-link">Косилки дисковые</a></li>
          <li class="footer__item"><a href="javascript:void(0);" class="footer__item-link">Ворошилки</a></li>
          <li class="footer__item"><a href="javascript:void(0);" class="footer__item-link">Грабли роторные</a></li>
          <li class="footer__item"><a href="javascript:void(0);" class="footer__item-link">Пресс-подборщики</a></li>

          <li class="footer__item"><a href="javascript:void(0);" class="footer__item-link">Обмотчики рулонов</a></li>
          <li class="footer__item"><a href="javascript:void(0);" class="footer__item-link">Прицепы для тюков</a></li>
          <li class="footer__item"><a href="javascript:void(0);" class="footer__item-link">Комбикормовый мини-завод</a>
          </li>

          <li class="footer__item"><a href="javascript:void(0);" class="footer__item-link">Измельчители рулонов</a></li>
          <li class="footer__item"><a href="javascript:void(0);" class="footer__item-link">Миксера-кормораздатчики</a>
          </li>
          <li class="footer__item"><a href="javascript:void(0);" class="footer__item-link">Фронтальные погрузчики</a>
          </li>

          <li class="footer__item"><a href="javascript:void(0);" class="footer__item-link">Насадки</a></li>
          <li class="footer__item"><a href="javascript:void(0);" class="footer__item-link">Катки для трамбовки
              силоса</a></li>
          <li class="footer__item"><a href="javascript:void(0);" class="footer__item-link">Силосные вилы</a></li>

          <li class="footer__item"><a href="javascript:void(0);" class="footer__item-link">Дозатор-аппликатор для
              внесения
              консерванта</a></li>
          <li class="footer__item"><a href="javascript:void(0);" class="footer__item-link">Мульчирователь</a></li>
          <li class="footer__item"><a href="javascript:void(0);" class="footer__item-link">Гидравлическое плечо</a></li>
          <li class="footer__item"><a href="javascript:void(0);" class="footer__item-link">Щетка коммунальная</a></li>
          <li class="footer__item"><a href="javascript:void(0);" class="footer__item-link">Отвал для уборки снега</a>
          </li>
        </ul>
      </div>
    </nav>
    <nav class="footer__navigation">
      <div class="footer__block">
        <a href="javascript:void(0);" class="footer__subtitle">Услуги</a>
        <ul class="footer__list">
          <li class="footer__item"><a href="javascript:void(0);" class="footer__item-link">Плющение зерна</a></li>
          <li class="footer__item"><a href="javascript:void(0);" class="footer__item-link">Ремонт и восстановление
              кормосмесителей</a></li>
          <li class="footer__item"><a href="javascript:void(0);" class="footer__item-link">Сервисное обслуживание</a>
          </li>
        </ul>
      </div>
      <div class="footer__block">
        <a href="javascript:void(0);" class="footer__subtitle">О компании</a>
        <ul class="footer__list">
          <li class="footer__item"><a href="javascript:void(0);" class="footer__item-link">Отзывы</a></li>
          <li class="footer__item"><a href="javascript:void(0);" class="footer__item-link">Новости</a></li>
          <li class="footer__item"><a href="javascript:void(0);" class="footer__item-link">Вопросы и ответы</a></li>
        </ul>
      </div>
      <div class="footer__block">
        <a href="javascript:void(0);" class="footer__subtitle">Статьи</a>
        <a href="javascript:void(0);" class="footer__subtitle">Каталоги</a>
        <a href="javascript:void(0);" class="footer__subtitle">Контакты</a>
        <a href="javascript:void(0);" class="footer__subtitle">Оплата и доставка</a>
        <a href="javascript:void(0);" class="footer__subtitle">Запчасти для сельхозтехники</a>
      </div>
      <div class="footer__block">
        <a href="javascript:void(0);" class="footer__subtitle">Карта сайта</a>
      </div>
    </nav>
    <div class="footer__contacts">
      <div class="footer__block">
        <a href="mail-to:verhagro.com.ua@ukr.net" class="footer__contacts-link">verhagro.com.ua@ukr.net</a>
        <a href="tel:+71251254563" class="footer__contacts-link">+7 (125) 125 45 63</a>
        <a href="tel:+71251254563" class="footer__contacts-link">+7 (125) 125 45 63</a>
        <p class="footer__contacts-address">г. Москва, ул. Мира, 35</p>
      </div>
    </div>
  </div>
</footer>
<a href="#wrapper" id="ui-to-top" class="ui-to-top go-to"></a>