<!-- popup review -->

<div class="modal modal__review">
  <div class="inner">
    <span class="close"></span>
    <div class="heading">
      <h4 class="title">Вы можете оставить отзыв</h4>
      <p>Используйте данную форму для того, чтобы оставить отзыв</p>
      <span class="description">Комментарий будет выведен только после предварительной проверки нашими
        сотрудниками.</span>
    </div>
    <form class="form">
      <div class="form__row">
        <div class="form__column">
          <!-- за включение border ошибки отвечает класс .error для form__input-->
          <label class="label">Ваше имя</label>
          <input class="input form__input" required type="text">
          <span class="error__text">Ошибка</span>
        </div>
        <div class="form__column">
          <!-- за включение border ошибки отвечает класс .error для form__input-->
          <label class="modal__label">E-mail</label>
          <input class="input form__input" required type="text">
          <span class="error__text">Ошибка</span>
        </div>
      </div>
      <label class="label">Текст сообщения</label>
      <textarea></textarea>
      <div class="modal__action">
        <!-- класс finish отвечает за закрытие попапа при нажатии-->
        <button class="button finish">Отправить</button>
      </div>
    </form>
  </div>
</div>

<div class="modal modal__put">
  <div class="inner">
    <span class="close"></span>
    <div class="modal__put_content">
      <h4>Товар добавлен в <span>корзину</span></h4>
      <ul>
        <li><a href="javascript:void(0)" class="button button--border application">В корзину</a></li>
        <li><a href="javascript:void(0)" class="button">Продолжить покупку</a></li>
      </ul>
    </div>
  </div>
</div>